.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    min-width: 32px;
    min-height: 32px;
    background-color: transparent;
    background-image: url(../../../images/close-icon.svg);
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__close {
        top: -35px;
        right: 0;
        min-width: 20px;
        min-height: 20px;
    }
}
