.popup__error {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #ff0000;
    max-width: 358px;
    display: block;
    min-height: 30px;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .popup__error {
        max-width: 238px;
    }
}
