.profile__edit-button {
    background-color: #000000;
    background-image: url(../../../images/edit-button.svg);
    background-repeat: no-repeat;
    border: 1px solid #ffffff;
    background-position: center;
    align-self: center;
    min-width: 24px;
    min-height: 24px;
    background-size: 10px 10px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .profile__edit-button {
        min-width: 18px;
        min-height: 18px;
        background-size: 7.5px 7.5px;
        object-fit: contain;
        padding: 0;
        margin-top: 0;
        margin-left: 5px;
    }
}
