.profile__title {
    margin: 0;
    align-self: flex-end;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.1428;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 900px) {
    .profile__title {
        font-size: 27px;
        line-height: 1.2222;
        text-align: center;
        max-width: 189px;
        margin-left: 27px;
    }
}
