.elements__list {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(282px, 1fr));
    gap: 20px 17px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    list-style-type: none;
}

@media screen and (max-width: 900px) {
    .elements__list {
        grid-template-columns: repeat(1, minmax(282px, 282px));
        gap: 20px;
        margin-left: 289px;
        margin-right: 289px;
    }
}

@media screen and (max-width: 600px) {
    .elements__list {
        margin-left: calc(70px + (289 - 70) * (100vw - 600px) / (900 - 600));
        margin-right: calc(70px + (289 - 70) * (100vw - 600px) / (900 - 600));
    }
}

@media screen and (max-width: 500px) {
    .elements__list {
        margin-left: calc(50px + (70 - 50) * (100vw - 500px) / (600 - 500));
        margin-right: calc(50px + (70 - 50) * (100vw - 500px) / (600 - 500));
    }
}
