.popup__submit-delete {
    margin-top: 18px;
    margin-bottom: 37px;
    min-width: 358px;
    padding: 0;
    min-height: 50px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.2222;
}

.popup__submit-delete:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__submit-delete {
        min-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 1.2142;
        margin-top: 45px;
        margin-bottom: 25px;
    }
}
